.add-card {
    position: fixed;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    background: rgba(0, 0, 0, 0.3);
    outline: 9999px;
    z-index: 9999;
    top: 0px;
    opacity: 0;
    animation: fadeIn .5s ease-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}